<div class="masthead">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">

				<div class="large-12 columns masthead-headers">
					<p>Coming spring 2013</p>
					<h3>Become your kid's science superhero!</h3>

					<%= link_to "Sign up", new_teacher_registration_path, :class => "large button" %>
					<p>or</p>
					<%= link_to "Sign in", new_teacher_session_path, :class => "large button" %>
				</div>



			</div>

		</div>

	</div>
</div>
<div class="splash-info">
	<div class="row">
		<div class="large-12 columns">
			<h3>"Just asking your child how was their school day and showing genuine interest in the learning that they are doing can have the same impact as hours of private tutoring"</h3>

			<h3>Thomas L. Friedman</h3>
		</div>
	</div>
</div>

<link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
