<div class="row">
	<div class="large-12 columns">
		<div class="row">

			<div class="large-6 columns">

				<img src="http://placehold.it/500x345&text=Image"><br>

			</div>	
			<div class="large-6 columns">

				<h3 class="show-for-small">Header<hr/></h3>

				<div class="panel">
					<h4 class="hide-for-small">The best tool to allow parents engage with their children<hr/></h4>
					<h5 class="subheader">Bla bla bla</h5>
				</div>

				<div class="row">
					<div class="large-6 small-6 columns">
						<div class="panel">
							<h5>Sign up</h5>
							<h6 class="subheader">Not already a user?</h6>
							<%= link_to "Sign up", new_teacher_registration_path, :class => "small button" %>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
