<div class="row">
    <div class="large-12 columns">
 
 
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
              Start your free trial now! (21 day trial period)
              <%= link_to "Join now!!", '#', :class => "button", :float => "right" %>
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-6 small-6 columns">
            <%= image_tag("parents.jpg") %>
            <div class="panel">
              <p>Access our full library of content for only <b>$3.99/month</b></p>             
              <ul>
                <li>All experiments, activities, definitions, and resources</li>
                <li>Explore across schools and districts</li>
                <li>Utilize parent community (sharing, commenting, rating, etc)</li>
                <li>Idea submission page</li>
              </ul>
            </div>
          </div>
 
          <div class="large-6 small-6 columns">
            <%= image_tag("schools.jpg") %>
            <div class="panel">
              <p>Schools can help parents engage with their children</p>
              <ul>
                <li>Accelerate tomorrow’s leaders</li>
                <li>Revenue sharing program to support science in your school</li>
                <li>Get parents more involved in children’s education</li>
                <li>Help teachers have more engaged students</li>
                <li>Improve test scores and academic success rate</li>
              </ul>
            </div>
          </div>

        </div>
 
      <!-- End Thumbnails -->

 
    </div>
  </div>