<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 small-12 columns">
        <div class="hide-for-small panel">
          <h3><%= @nugget.title %>/h3>
            <h5 class="subheader">Browse all the topics and start sending messages to parents or</h5>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="row">
            Test
          </div>
        </div>
      </div>
    </div>
  </div>
</div>