<% if teacher_signed_in? %>
  <div class="row">
    <div class="large-12 columns">

      <div class="row">
        <div class="large-4 small-12 columns">
          <div class="hide-for-small panel">
            <h3>Subjects</h3>
            <h5 class="subheader">Browse all the topics and start sending messages to parents or</h5>
            <%= link_to 'add a new subject', new_subject_path %>
          </div>
        </div>
        <div class="large-8 columns">
          <div class="row">
            <% @subjects.each do |subject| %>
              <div class="large-4 small-6 columns">
                <%= link_to image_tag(subject.image, :width => "1000", :height => "1000"), subject %>
                <div class="panel">
                  <h5><%= subject.title %></h5>
                </div>
              </div>
            <% end %>
          </div>
         

          

        </div>
      </div>
    </div>
  </div>

<% else %>
  <%= render 'static_pages/splash' %>

<% end %>