<div class="row">
  <div class="large-12 columns">

    <% if teacher_signed_in? %>

    <div class="row">
      <div class="large-4 small-12 columns">
        <div class="hide-for-small panel">
          <h5 class="subheader">Browse all the topics and start sending messages to parents or</h5>
          <%= link_to 'add a new subject', new_subject_path %>
        </div>
      </div>
      <div class="large-8 columns">
        <div class="row">
          <% @nuggets.each do |nugget| %>
            <div class="large-4 small-6 columns">
              <%= link_to "See", [@subject, @unit, nugget] %>
              <div class="panel">
                <h5><%= nugget.title %></h5>
              </div>
            </div>
          <% end %>
        </div>
       

        <% else %>
        <%= render 'static_pages/splash' %>

        <% end %>

      </div>
    </div>
  </div>
</div>