<div class="row">

  <ul class="breadcrumbs">
    <li><a href="#">4th grade</a></li>
    <li><a href="#">Physical Science</a></li>
    <li class="current"><a href="#">Series & Parallel circuits</a></li>
  </ul>

  <div class="large-12 columns">

          <div class="panel">

            <h5 class="subheader">Circuits are everywhere!  It is hard to imagine a world without lights, computers, and cellphones.  None of these would be possible without a circuit, a connection from the negative side of a battery to a light and back the positive side of a battery.
            <br>There are two major types of circuits: <b>series and parallel circuits</b>.  The difference in the circuits is how the lights are connected.
            </h5>
          </div>

        </div>


            <div class="large-6 small-6 columns">
              <div class="small-12 small-centered columns">
              <%= image_tag("pic3.gif")%>
              </div>
              <div class="panel">
                <p>In series circuits electrons flow in one path through the light(s).  For each light you add on to a series circuit there will be more resistance, so the electrons will flow through the lights slower.  This will lead to dimmer lights.</p>
              </div>
            </div>

            <div class="large-6 small-6 columns">
              <div class="small-12 small-centered columns">
              <%= image_tag("pic4.gif") %>
              </div>
              <div class="panel">
                <p>In parallel circuits electrons can flow through multiple paths through the lights.  For each light you add on there will be less resistance to electrons, since adding another path for electrons to travel down.  Although the parallel circuit will be brighter than the series circuit shown, the battery will die quicker.</p>
              </div>
            </div>

          <div class="large-12 columns">  

            <p><b>Note:</b> Light is just one example of an electrical load, which uses the power from moving electrons.  Parallel and series circuits can power motors, toasters, or a number of other electrical loads.  Alternating current sources like the power outlet is another source of electron flow beyond the battery.</p>
          </div>

          <div class="large-12 columns">  
            <div class="row">
              <div class="small-6 small-centered columns"><p><a href="#" data-reveal-id="myModal" class="button">Do it at home! &rarr;</a></p></div>
            </div>
          </div>
        </div>
      </div>

<div id="myModal" class="reveal-modal">
  <h2>Do it at home</h2>
  <p class="lead"><b>What you need</b></p>
    <p>• 3 or more LED lights</p>
    <p>• A 9 Volt Battery</p>
    <p>• Conductive Dough (to make conductive dough heat the 0.5 cup water, 0.5 cup flour, 2 tablespoons of salt, 1 squeezed lemon and 0.5 teaspoon of vegetable oil in a pot over medium heat until it reaches desired consistency)</p>

  <p class="lead"><b>What to do</b></p>
  <p>Make conductive dough with your child.  Provide your child with access to materials and explore what they can do with them.  Note what makes the lights turn on and what doesn’t.  Push your child to try making parallel and series circuits.  Observe differences and similarities.</p>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/UDZo51k2BWQ" frameborder="0" allowfullscreen></iframe>
  <a class="close-reveal-modal">&#215;</a>
</div>