.top-bar {
	background: #3498DB;
	border-bottom: 5px solid #2980B9;
	margin-bottom: 0;

	ul {
		.divider {
			border-left: #34495E;
			border-right: #34495E;
		}
	}

	.name {
		h1 {
			a { 
				font-family: 'Wellfleet' ;
				font-weight: normal;
			}
		}
	}

	.right {
		background: #2C3E50;
		.has-form {
			background: #3498DB;
			border-bottom: 5px solid #2980B9;
		}
	}
}

footer {
	background: #403f3f;
	padding-top: 20px;
}

/* Colors */

.t {
	background: #1ABC9C;
}

.e {
	background: #2ECC71;
}

.b {
	background: #3498DB;
}

.o {
	background: #F39C12;
}

.r {
	background: #E74C3C;
}