.top-bar {
	background: #3498DB;
	border-bottom: 5px solid #2980B9;
	margin-bottom: 0;

	ul {
		.divider {
			border-left: #34495E;
			border-right: #34495E;
		}
	}

	.right {
		background: #2C3E50;
		.has-form {
			background: #3498DB;
			border-bottom: 5px solid #2980B9;
		}
	}
}

footer {
	border-top: 5px solid black;
}