// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.masthead {
	background: image-url("masthead.jpg");
	padding: 20px 0 40px 0;
	background-size: cover;

	.masthead-headers {
		padding-top: 200px;
		h3 {
			color: white;
			font-size: 60px;
			font-family: 'Wellfleet', cursive;
			font-weight: normal;
		}

		p {
			color: white;
			font-family: 'Wellfleet', cursive;
			font-size: 18px;
			display: inline-block;
			margin: 0 20px 0 20px;
		}

		.large.button {
			background: #3498DB;
			border: none;
			border-bottom: #2980B9 5px solid;
			display: inline-block;
		}
	}
}

.splash-info {
	background: #3498DB;
	h3 {
		margin-top: 20px;
		color: white;
		font-family: 'Wellfleet', cursive;
		font-weight: normal;
	}
	.splash-images {
		margin-top: 26px;
	}
}